/*** Header ***/

.header {
    display: flex;
	width: 100%;

	&>h1 {
		font-size: 48px;
		color: #363636;
		margin: 42px 0 44px;
		line-height: 65px;
	}
}

.product-list .header {
	justify-content: space-between;
	align-items: center;
	height: 150px;
}

/* \Header */