@font-face {
  font-family: 'Open Sans';  
  src: url('./assets/fonts/OpenSans-Regular.ttf')  format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans Bold';  
  src: url('./assets/fonts/OpenSans-Bold.ttf')  format('truetype');  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
	font-family: 'Open Sans Bold';
}


.main {
	display: flex;
	flex-wrap: wrap;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.alignCenter {
	text-align: center;
}

.header {
	width: 100%;
}

.header>h1 {
	font-size: 48px;
	color: #363636;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 876px;	
}

.product-box {
	position: relative;
	width: 262px;		
	margin: 0 30px 30px 0;		
	cursor: pointer;
}

.product-box h3 {
	font-family: 'Open Sans';
	font-size: 16px;
	color: #746A6A;
	font-weight: normal;
}

.product-box:hover> .info {
	visibility: hidden;
}

.product-box>.add-me {
	font-family: 'Open Sans Bold';
	font-size: 16px;
	color: #3487DC;		
	visibility: hidden;
	position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

.product-box:hover>.add-me {
	visibility: visible;
}

.image-wrapper {
	background-color: #eee;	
	padding: 25px 41px;
	border-radius: 3px;
}